:root {
  font-size: 62.5%;
}

body {
  background-image: url("/background.jpeg");
  background-size: auto;
}
.popup {
  width: 50rem;
  padding: 0.5rem 2rem 2rem 2rem;
  font-family: "Lato", sans-serif;
}

.container {
  margin: 2rem;
  padding: 2rem;
  display: flex;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.container--list {
  display: flex;
}

.container--list__item {
  font-size: 1.6rem;
}
.container--header {
  padding: 2.5rem;
  font-size: 5rem;
  text-align: center;
  text-transform: lowercase;
  font-family: "Yellowtail", cursive;
  color: white;
}

.container--name {
  font-size: 3.5rem;
  text-align: center;
}

.container--componant__header {
  font-size: 4rem;
}

.container--componant__sub {
  font-size: 3rem;
  display: inline;
}
