:root {
  font-size: 62.5%;
}

body {
  background-image: url("/background.jpeg");
  background-size: cover;
}
.popup {
  padding: 0.5rem 2rem 2rem 2rem;
}

.container {
  margin: 2rem;
  /* padding: 0.5rem; */
  display: flex;
  flex-direction: column;
  /* border: 1px solid black; */
  align-items: center;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 0.5rem;
}
.container--header {
  padding: 2.5rem;
  font-size: 5rem;
  text-align: center;
  text-transform: lowercase;
  font-family: "Yellowtail", cursive;
  color: white;
}
.container--componant__header {
  text-align: center;
  font-family: "Lato", sans-serif;
  font-size: 2rem;
}
.container--list {
  columns: 3;
  font-size: 1.5rem;
}

.container--list__item {
  padding: 1.5rem;
  margin: 1.5rem;
}

#map {
  height: 100%;
}
